.modalWrapper{
    opacity: 0;
    z-index: -1;
    color:black;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.507);
    transition: opacity .15s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    overflow: auto;
    user-select: none;
    margin: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 5px solid #0073ff8b;
    min-width: 400px;
    max-width: 900px;
    border-radius: 20px;
    background-color:aliceblue;
    text-shadow: 1px 1px 3px rgba(128, 128, 128, 0.555);
    color:rgb(3, 35, 12);
}

.modalHeader{
    position: relative;
    display: flex;
    justify-content: center;
    grid-column: 1/3;
}
.modalHeader img{
    position: absolute;
    right: 0;
    width: 30px;
    cursor: pointer;
    transition: transform .1s linear;
}
.modalHeader h1{
    text-shadow: 1px 1px 4px rgba(128, 128, 128, 0.914);
}
   
.modalContent{
    padding: 20px; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;  
}
.modalContent label{
    margin: 0 5px;
}

.modal div{  
  margin: 50 auto;
}
.modalContent fieldset{
    padding: 8px;
    margin: 10px 15px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    border: 2px solid rgba(6, 32, 87, 0.61);
    text-shadow: 1 1 1px rgba(0, 0, 0, 0.43);
    border-radius: 5px;
}
.modalContent fieldset label, input{
    cursor: pointer;
}
.modalContent fieldset label:hover{
    transform: scale(1.05);
}
table{
    border: 1px solid gray;
    font-size: small;
}
tr, td, th{
    border: 1px solid gray;
    text-align: center;
}
.forBtnClose{
    grid-column: 1/3;
    display: flex;
    justify-content: space-around;
}
.forBtnClose button{
    font-size: larger;
    width: 80px;
    padding: 3px 5px;
    border-radius: 5px;
    border: 1px solid rgba(6, 32, 87, 0.61);
    background-color:rgba(0, 55, 255, 0.044);
    cursor: pointer;
    transition: transform .05s linear;
}
.forBtnClose button:hover, .modalHeader img:hover{
    transform: scale(1.05);
}
